@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #0d0d25;

}
body
{
    background: #f3f7f8;

}



header {
    height: fit-content;
    padding: 0px 5%;
    background: url('/img/headr-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;


}

.nav-container {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

p {
    line-height: 25px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    opacity: 0.9;
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 40px;

}

span {
    color: #eb8724;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
}

ul li {
    display: inline-block;
    padding: 0px 15px;
    font-family: 'Poppins', sans-serif;
}
.active
{
    color: #eb8724;
}

.hero h1  {
    margin-right: 60%;
    padding: 0;

}

input {
    margin-top: 20px;
    padding: 15px 200px 15px 5px;
    margin-right: -5px;
    border: 1px solid rgba(128, 128, 128, 0.384);
    border-radius: 5px 0px;
    margin-bottom: 40px;

}

select,
button ,.btn {
    margin-top: 20px;
    padding: 15px 20px;
    background: #EB8739;
    border: none;
    outline: none;
    color: white;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}
.btn
{
    border-radius: 5px 5px;
}

.media i {
    color: #eb8724;
    padding-right: 5px;
}

.media a {
    display: inline-block;
    margin-right: 40px;
    margin-bottom: 150px;
}

.about {
    height: fit-content;
    max-height: 150vh;
    width: 100%;
    background: url('/img/about-background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 5% 0%;

}

.about-container h1 {
    max-width: 100%;
    padding: 0;

}

.about-container p
{
    padding: 2% 0;

}
.about .btn 
{
    max-width: 30%;
}

.order-now,
.opening ,.Testimonials {
    
    text-align: center;
    padding: 5% 0;
    
}
.order-now ul{
    padding-bottom: 20px;
}
.order-now > ul li 
{
    border-bottom: 1px solid rgba(128, 128, 128, 0.384);
    padding: 0px 25px;

}
#active
{
    border-bottom: 1px solid #eb8724;
}

.food
{
    width: 90%;
    margin: auto;
}
.food ul 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.food img
{
    width:  350px;
    height: 400px;
    padding-bottom: 40px;
    border-radius: 5px;

}


.opening
{
    background: url('/img/book.png');
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
  height: fit-content;
    
}
.openinTime
{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.vedio
{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
video
{
    
    width: 1000px;
}

.Testimonials
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #FFF;
    padding: 5% 5%;
    background: url('/img/qoute.png');
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-size: 16%;

}
.Testimonials img
{
    height: 100px;
    width: 100px;
    border-radius: 50%;

}
.Testimonials ul li 
{
    padding: 10px 0px;
    
}
.Testimonials i 
{
    color: #f1c40f;
    
}
#job
{
    color: #bdc3c7;
    font-weight: 400;
    font-size: 14px;
}

